@use 'components';
@use 'colors';

footer{
    height: 70vh;
    background: yellow;
    position: relative;

}

.footer-left{
    color: black;
    font-size: 3rem;
    position: absolute;
    left: 15%;
    top: 10%;
}

.footer-right{
    color: black;
    font-size: 3rem;
    position: absolute;
    top: 10%;
    right: 30%;
    float: right;
}
