*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

a, a:visited, a:link{
    color:#eee;
    text-decoration: none;
}

body{
    font-size: 2rem;
    font-family: 'lato',sans-serif;
    background: #16213E;
}

.nav{
    width: 100%;
    background: rgba(15, 52, 96,0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 7rem;
    color: #eee;
    position: fixed;
    text-transform: uppercase;
    padding: 2rem;
    top: 0;
    left: 0;
    z-index: 1;
}

.nav > i{
    font-size: 250%;
    color: #eee;
    border:0.5rem solid #e94560;
    border-radius: 50%;
    padding: 1rem;
}

.list{
    display: flex;
    list-style: none;
    gap: 2rem;
    font-size: 120%;
}

.cta{
    width: 11rem;
    padding: 0.5rem;
    font-size: 70%;
    background: #e94560;
    border: none;
    color: #eee;
    border-radius: 0.5rem;
}

.cta:hover{
    cursor: pointer;
    background: hsl(350, 79%, 49%);
}

.banner{
    height: 100vh;
    width: 100%;
    position: relative;
}

.banner > figure{
    height: 100%;
    width: 100%;
    background-image:linear-gradient(to bottom right, rgba(22, 33, 62,0.4),70%, rgba(233, 69, 96,0.8)) ,url("img/pexels-tanathip-rattanatum-2026451.jpg")  ;
    background-position: bottom;
    background-size: cover;
}

.banner > figure > div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    color: #eee;
}

.heading{
    font-family: 'Great Vibes', cursive;
    font-size: 400%;
}

.heading2{
    font-family: 'Great Vibes', cursive;
    font-size: 200%;
}

.logo{
    font-size: 250%;
    color: #eee;
    border:0.5rem solid #e94560;
    border-radius: 50%;
    padding: 1.5rem;
}

.over{
    padding: 4rem;
    height: 80rem;
    border-bottom: 0.2rem solid #e94560;
}

.over > header{
    width: 100%;

    display: flex;
    justify-content: center;
    padding: 2rem;
}

.over > header > h2{
    font-family: 'Great Vibes', cursive;
    font-size: 300%;
    color: #eee;
}
.over > div{
    display: flex;
    gap: 4rem;
    justify-content: center;
    height: 100%;
}

.over > div > div{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.over > div > div > p{
    width: 55ch;
    color: #eee;
}

.over > div > figure{
    position: relative;
    width: 60rem;
    height: 60rem;
}

.over > div > figure > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
    
}

.over > div > figure::after{
    content: "";
    background: linear-gradient(to bottom right, rgba(22, 33, 62,0.4),70%, rgba(233, 69, 96,0.8));
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.Kenmerken{
    height: 120vh;
    border-bottom: 0.2rem solid #e94560;
    padding: 4rem;
}
.Kenmerken > header{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.Kenmerken > header > h2{
    font-family: 'Great Vibes', cursive;
    font-size: 300%;
    color: #eee;
}

.onzeKenmerken{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 80%;
}

.kenmerk{
    list-style: none;
    color: #eee;
    width: 40%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.kenmerk > p{
    width: 30ch;
    text-align: center;
}

.kenmerkIcon{
    font-size: 180%;
    border: 0.1rem solid #e94560;
    padding: 2rem;
    border-radius: 50%;
}

.gallerij{

    height: 80vh;
}

.gallerij > header{
    width: 100%;
    padding: 6rem;
    display: flex;
    justify-content: center;
}

.gallerij > header > h2{
    font-family: 'Great Vibes', cursive;
    font-size: 300%;
    color: #eee;
}

.fotos{
    display: flex;
    flex-wrap: wrap;
}

.foto{
    width: 25%;
    height: 40rem;
    list-style: none;
    position: relative;
}

.foto > section{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image:linear-gradient(to bottom right, rgba(22, 33, 62,0.4),70%, rgba(233, 69, 96,0.8));
    transform: scaleX(0);
    transition: 0.8s;
    transform-origin:left ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto > section > .cta{
    opacity: 0;
    transition-delay:0.8s ;
    transition-duration:0.2s ;

}

.foto:hover > section > .cta{
    opacity: 1;
}

.foto:hover > section{
    transform: scale(1);
}

.foto > img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media screen and (max-width: 75rem) {
    .body{
        height:1.6rem;
    }
    
    .banner{
        height:140rem;
    }

    .over{
        min-height:140rem;
    }

    .over > header{
        height:20%;
    }

    .over > div{
        height:80%;
        flex-direction:column;
    }

    .over > div > div{
        height:60%;
    }

    .over > div > div > p{
        width:100%;
        color:#eee;
    }

    .over > div > figure{
        position: relative;
        width:100%;
        height:40%;
    }

    .kenmerken{
        min-height:120rem;
    }

    .kenmerk{
        width:100%;
    }

    .gallerij{
        height:auto;
    }

    .fotos{
        flex-wrap: wrap;
    }

    .foto{
        height:20rem;
        width:100%;
    }

    .foto:hover > section > .cta{
        opacity:0;
    }

    .foto:hover > section{
        transform:scale(0);
    }
}


@media screen and (max-width: 50rem) {
    .list{
        flex-direction:column;
    }
}