.cookie {
  height: 20rem;
  width: 20rem;
  background: #ebbd5b;
  border-radius: 50%;
  border: 0.5rem solid black;
  position: absolute;
  bottom: 50%;
  right: 20%;
  overflow: hidden;
  transform: translate(-50%, -50%);
}

.cookie:hover {
  cursor: pointer;
}

.cookie__spot {
  position: absolute;
  width: 20%;
  height: 20%;
  border-radius: 50%;
  background: black;
}

.cookie__spot--first {
  top: 25%;
  left: 20%;
}

.cookie__spot--second {
  top: 30%;
  right: 20%;
}

.cookie__spot--third {
  bottom: 15%;
  right: 50%;
}

.cookie__spot--fourth {
  bottom: 10%;
  right: 5%;
}

.cookiemonster__mouth {
  position: absolute;
  top: 55%;
  left: 50%;
  background: black;
  width: 60rem;
  height: 60rem;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  -webkit-clip-path: polygon(0% 50%, 100% 50%, 100% 100%, 0% 100%);
  clip-path: polygon(0% 50%, 100% 50%, 100% 100%, 0% 100%);
}

.cookiemonster__mouthcircle {
  position: absolute;
  height: 30rem;
  width: 20rem;
  background: #0f98dc;
  top: 30%;
  left: 16%;
  border-radius: 50%;
  transform: rotate(10deg);
}

.cookiemonster__mouthCircle--second {
  left: calc(16% + 10rem);
}

.cookiemonster__mouthcircle--third {
  left: calc(16% + 20rem);
}

.cookiemonster__mouthcircle--fourth {
  left: calc(16% + 30rem);
}

.cookiemonster__mouthcircle--fifth {
  left: calc(16% + 40rem);
}

.cookiemonster__mouthcircle--sixth {
  left: calc(16% + 50rem);
}

.cookiemonster__mouthend {
  position: absolute;
  height: 25rem;
  width: 25rem;
  top: 36%;
  z-index: 1;
  border-radius: 50%;
  border: 1rem solid transparent;
  border-bottom: 1rem solid black;
}

.cookiemonster__mouthend--left {
  left: 10%;
  transform: rotate(35deg);
}

.cookiemonster__mouthend--right {
  right: 10%;
  transform: rotate(-35deg);
}

.cookiemonster__mouthend::after {
  content: "";
  width: 70%;
  height: 60%;
  position: absolute;
  border-radius: 50%;
  border: 1rem solid transparent;
  border-bottom: 1rem solid black;
}

.cookiemonster__mouthend--left::after {
  transform: rotate(125deg);
  top: 70%;
}

.cookiemonster__mouthend--right::after {
  transform: rotate(-125deg);
  left: 30%;
  bottom: -29%;
}

.cookiemonster__eye {
  height: 30rem;
  width: 30rem;
  background: white;
  border-radius: 50%;
  border: 0.7rem solid black;
  position: absolute;
  top: 30%;
  transform: translate(-50%, -50%);
  box-shadow: inset 0 0 4rem 0 rgba(0, 0, 0, 0.5);
  z-index: 1;
  overflow: hidden;
}

.cookiemonster__eye--left {
  left: 35%;
}

.cookiemonster__eye--right {
  left: calc(35% + 30rem);
}

.cookiemonster__innerEye {
  width: 40%;
  height: 40%;
  background: black;
  position: absolute;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.cookiemonster__eye--left > .cookiemonster__innerEye {
  left: 70%;
  top: 60%;
}

.cookiemonster__eye--right > .cookiemonster__innerEye {
  left: 34%;
  top: 40%;
}

@media screen and (max-width: 75rem) {
  .cookie {
    display: none;
  }
  .cookiemonster {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.35);
  }
}
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem=10px */
}

body {
  min-height: 100vh;
  background: #0f98dc;
}

.cookiemonster {
  width: 100rem;
  height: 100rem;
  position: relative;
  transform: scale(0.6);
}

.u-display-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
